<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:before="*[1]" type="KATSU.Feature.ShowTitles.Pipelines.RenderField.ShowTitleWhenBlank, KATSU.Feature.ShowTitles" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>
