
@Html.Sitecore().Placeholder("page-header")
<div class="row body-content">
    <!--Left Navigation -->
    <!-- footer -->
    <div class="col-md-3 col-12">
        @Html.Sitecore().Placeholder("side-column")
    </div>
    <div class="col-md-9 col-12">
        @Html.Sitecore().Placeholder("main-column")
    </div>
</div>