@using Sitecore.Mvc.Analytics.Extensions

@{
    Layout = "~/Views/Layouts/KATSU/MvcOuterLayout.cshtml";
}

@Html.Sitecore().Placeholder("header")
<div class="page-content">
    <div class="content-wrapper">
        <div class="content">
            @Html.Sitecore().Placeholder("main")
        </div>
    </div>
</div>
@Html.Sitecore().Placeholder("footer")
