@using KATSU.Feature.Package.ViewModels
@model KATSU.Feature.Package.ViewModels.PackagesViewModel

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card card-body">
            <span class="text-muted font-size-sm">@Model.TotalResults results </span>

            <hr>

            <ul class="media-list mb-3">
                @foreach(PackageViewModel package in Model.Packages)
                {
                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="@("/Discover/Package Details?ID="+package.PackageId)">@package.PackageTitle</a></h6>
                        @package.PackageSummary
                    </div>
                </li>
                }
            </ul>

        </div>
    </div>
</div>