@using KATSU.Feature.Package.ViewModels

@model PackageViewModel

@if (Model != null)
{
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card card-body">
            <h5 class="font-weight-semibold">@Model.PackageName</h5>
            <p class="mb-3">@Model.PackageSummary</p>

            @if (!string.IsNullOrEmpty(Model.Contributors))
            {
                <ul class="list mb-3">
                    <li><span class="font-weight-semibold">Contributors:</span> @Model.Contributors</li>
                </ul>
            }

            @if (!string.IsNullOrEmpty(Model.PackageFile))
            {
                <p><a href="@Model.PackageFile"> Download</a></p>
            }
            </div>
        </div>
    </div>
}