@using KATSU.Feature.Package.ViewModels

@model PackageViewModel

@if (Model != null)
{
    <p>Package Name: @Model.PackageName</p>
    <p>Package Identifier: @Model.PackageIdentifier</p>
    <p><a href="@Model.PackageFile"> Download</a></p>
}

<div class="row">


    <div class="col-12 col-lg-12">
        <div class="card card-body">


            <h5 class="font-weight-semibold">Limitless UI kit</h5>
            <p class="mb-3">In post mean shot ye. There out her child sir his lived. Design at uneasy me season of branch on praise esteem. Abilities discourse believing consisted remaining to no. Mistaken no me denoting dashwood as screened. Whence or esteem easily he on. Dissuade husbands at of no if disposal. Oh he decisively impression attachment friendship so if everything.</p>

            <ul class="list mb-3">
                <li><span class="font-weight-semibold">Author:</span> <a href="#">Eugene Kopyov</a></li>
                <li><span class="font-weight-semibold">Time spent:</span> 8 months</li>
                <li><span class="font-weight-semibold">Client base:</span> <a href="#">16,893 (2015)</a></li>
                <li><span class="font-weight-semibold">Pages:</span> 1200+</li>
                <li><span class="font-weight-semibold">Latest update:</span> June 1, 2015</li>
            </ul>



            <div>


            </div>
        </div>
    </div>
</div>