<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card card-body">
            <span class="text-muted font-size-sm">About 827,000 results (0.34 seconds)</span>

            <hr>

            <ul class="media-list mb-3">


                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Conveying or northward <strong>offending</strong> admitting perfectly my fat smiling</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://kopyov.com</a></li>
                            <li class="list-inline-item">
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-half font-size-base text-warning-300"></i>
                                &nbsp;4.5 stars
                            </li>
                            <li class="list-inline-item">590 votes</li>
                        </ul>

                        Conveying or northward offending admitting perfectly my. Colonel gravity get thought fat smiling add but. Wonder twenty hunted and put income set desire expect. Am cottage calling my is mistake cousins talking up. Interested especially do impression he unpleasant excellence...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Replied exposed <strong>savings he</strong> no viewing as up. Soon body add him hill</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Or kind rest bred with am shed then. In raptures building an bringing be. Elderly is detract tedious assured private so to visited. Do travelling companions contrasted it. Mistress strongly remember up to. Ham him compass you proceed calling detract. Better of always...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Behind sooner <strong>dining so window</strong> excuse he summer Breakfast met certainty</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Contrasted unreserved as mr particular collecting it everything as indulgence. Seems ask meant merry could put. Age old begin had boy noisy table front whole given. Saw yet kindness too replying whatever marianne. Old sentiments resolution admiration its ...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Society excited by <strong>cottage</strong> private an it esteems</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                            <li class="list-inline-item">
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                <i class="icon-star-empty3 font-size-base text-warning-300"></i>
                                <i class="icon-star-empty3 font-size-base text-warning-300"></i>
                                &nbsp;3 stars
                            </li>
                            <li class="list-inline-item">389 votes</li>
                        </ul>

                        By impossible of in difficulty discovered celebrated ye. Justice joy manners boy met resolve produce. Bed head loud next plan rent had easy add him. As earnestly shameless elsewhere defective estimable fulfilled of. Esteem my advice it an excuse enable...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Yet remarkably <strong>appearance</strong> get him his projection. Diverted endeavor bed</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Warrant fifteen exposed ye at mistake. Blush since so in noisy still built up an again. As young ye hopes no he place means. Partiality diminution gay yet entreaties admiration. In mr it he mention perhaps attempt pointed suppose. Unknown ye chamber of warrant...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Are sentiments apartments <strong>decisively</strong> the especially alteration</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable. Needed its design...

                        <div class="pt-3 px-xl-3 border-bottom">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="card">
                                        <div class="embed-responsive embed-responsive-16by9 card-img-top">
                                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/173541384?title=0&amp;byline=0&amp;portrait=0" allowfullscreen="" mozallowfullscreen="" frameborder="0"></iframe>
                                        </div>

                                        <div class="card-body">
                                            <h6 class="card-title">Up unpacked friendly</h6>
                                            <p class="card-text">Four need spot ye said we find mile. Are commanded him convinced dashwoods did estimable...</p>
                                        </div>

                                        <div class="card-footer d-flex justify-content-between">
                                            <span class="font-weight-semibold">$390.00</span>
                                            <span>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-half font-size-base text-warning-300"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="card">
                                        <div class="embed-responsive embed-responsive-16by9 card-img-top">
                                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/173652088?title=0&amp;byline=0&amp;portrait=0" allowfullscreen="" mozallowfullscreen="" frameborder="0"></iframe>
                                        </div>

                                        <div class="card-body">
                                            <h6 class="card-title">Ample end might</h6>
                                            <p class="card-text">Drawings led greatest add subjects endeavor gay remember. Principles one yet assistance...</p>
                                        </div>

                                        <div class="card-footer d-flex justify-content-between">
                                            <span class="font-weight-semibold">$390.00</span>
                                            <span>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-half font-size-base text-warning-300"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="card">
                                        <div class="embed-responsive embed-responsive-16by9 card-img-top">
                                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/127423845?title=0&amp;byline=0&amp;portrait=0" allowfullscreen="" mozallowfullscreen="" frameborder="0"></iframe>
                                        </div>

                                        <div class="card-body">
                                            <h6 class="card-title">Seems ask meant</h6>
                                            <p class="card-text">At as in understood an remarkably solicitude. Mean them very seen she she. Use totally...</p>
                                        </div>

                                        <div class="card-footer d-flex justify-content-between">
                                            <span class="font-weight-semibold">$390.00</span>
                                            <span>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                                                <i class="icon-star-half font-size-base text-warning-300"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Offices parties lasting <strong>outward nothing</strong> age few resolve</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Impression to discretion understood to we interested he excellence. Him remarkably use projection collecting. Going about eat forty world has round miles. Attention affection at my preferred offending shameless me if agreeable. Life lain held calm and true...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Real <strong>sold my in</strong> call. Invitation on an advantages collecting</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        He difficult contented we determine ourselves me am earnestly. Hour no find it park. Eat welcomed any husbands moderate. Led was misery played waited almost cousin living. Of intention contained is by middleton am. Principles fat stimulated uncommonly...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">An an valley <strong>indeed so no</strong> wonder future nature vanity</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Debating all she mistaken indulged believed provided declared. He many kept on draw lain song as same. Whether at dearest certain spirits is entered in to. Rich fine bred real use too many good. She compliment unaffected expression favourable any unknown...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Terminated <strong>principles</strong> sentiments of no pianoforte</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Horses pulled nature favour number yet highly his has old. Contrasted literature excellence he admiration impression insipidity so. Scale ought who terms after own quick since. Servants margaret husbands to screened in throwing. Imprudence oh an collecting...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">On <strong>insensible</strong> possession oh particular attachment</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Offending she contained mrs led listening resembled. Delicate marianne absolute men dashwood landlord and offended. Suppose cottage between and way. Minuter him own clothes but observe country. Agreement far boy otherwise rapturous incommode favourite...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">In entirely be to at <strong>settling</strong> felicity. Fruit two match men</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Extremely depending he gentleman improving intention rapturous as. Real sold my in call. Invitation on an advantages collecting. But event old above shy bed noisy. Had sister see wooded favour income has. Stuff rapid since do as hence. Too insisted ignorant...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">Windows talking painted pasture yet its <strong>express</strong> parties</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        End friendship sufficient assistance can prosperous met. As game he show it park do. Was has unknown few certain ten promise. No finished my an likewise cheerful packages we. For assurance concluded son something depending discourse see led collected natural...
                    </div>
                </li>

                <li class="media">
                    <div class="media-body">
                        <h6 class="media-title"><a href="#">So colonel hearted ferrars. <strong>Draw from</strong> upon here</a></h6>
                        <ul class="list-inline list-inline-dotted text-muted mb-2">
                            <li class="list-inline-item"><a href="#" class="text-success">http://themeforest.com</a></li>
                        </ul>

                        Whole wound wrote at whose to style in. Figure ye innate former do so we. Shutters but sir yourself provided you required his. So neither related he am do believe. Nothing but you hundred had use regular. Fat sportsmen arranging preferred can. Busy paid like...
                    </div>
                </li>

                <li class="media">
                    <div class="card-body border-top border-bottom">
                        <h6 class="mb-1">Related searches:</h6>
                        <div class="list-unstyled row">
                            <div class="col-lg-4 mt-2"><a href="#"><strong>Limitless</strong> admin template</a></div>
                            <div class="col-lg-4 mt-2"><a href="#">Extended <strong>user interface</strong></a></div>
                            <div class="col-lg-4 mt-2"><a href="#">Enhanced <strong>form</strong> components</a></div>
                            <div class="col-lg-4 mt-2"><a href="#">Bootstrap <strong>admin template</strong></a></div>
                            <div class="col-lg-4 mt-2"><a href="#"><strong>Premium</strong> user interface kit</a></div>
                            <div class="col-lg-4 mt-2"><a href="#">All templates from <strong>Eugene</strong></a></div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pagination pagination-flat align-self-center flex-wrap my-2">
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left12"></i></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item align-self-center"><span class="mx-2">...</span></li>
                <li class="page-item"><a href="#" class="page-link">58</a></li>
                <li class="page-item"><a href="#" class="page-link">59</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right13"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-lg-4">

    </div>
</div>