<div class="card">
    <div class="card-body">
        <h5 class="mb-3">Website search results</h5>

        <form id="package-search">
            <div class="input-group mb-3">
                <div class="form-group-feedback form-group-feedback-left">
                    <input type="text" class="form-control form-control-lg alpha-grey" id="search-input" placeholder="Search">
                    <div class="form-control-feedback form-control-feedback-lg">
                        <i class="icon-search4 text-muted"></i>
                    </div>
                </div>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-lg">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function(){
        $("#package-search").submit(function (e) {
            e.preventDefault();
            if (document.location.href.indexOf("?") < 0) {
                var url = document.location.href + "?";
            } else {
                var url = document.location.href + "&";
            }

            if (document.location.href.indexOf("query") < 0) {
                url = url + "query=" + $("#search-input").val();

            } else {
                url = url + "query=" + $("#search-input").val();

            }

            document.location = url;
        });
    });
</script>