@*TODO: Do it with Glass Mapper*@

@if (Model != null)
{
    var cssClass = Html.Sitecore().Field("Class");
    <div class="@cssClass" role="alert" data-autohide="true" data-delay="4000">
        <div class="toast-body">
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <img width="14" height="14" src="~/images/close-ico.svg">
            </button>
            <div class="d-flex py-3 px-4">
                <div class="mx-2"> @Html.Sitecore().Field("Image")</div>
                <div>
                    @Html.Sitecore().Field("Message")
                </div>
            </div>
        </div>
    </div>
}