@model KATSU.Feature.Navigation.ViewModels.HeaderViewModel
@if (Model != null)
{
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                @Model.Copyrights
            </span>

            <ul class="navbar-nav ml-lg-auto">
                @foreach (var item in @Model.FooterItems)
                {
                    <li class="nav-item"><a href="@(item.ItemLink != null ?item.ItemLink.Url : "")" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> @item.LinkName</a></li>
                }
            </ul>
        </div>
    </div>
    <!-- /footer -->
}