@using Sitecore.Data.Managers
@using Sitecore.Mvc
@model KATSU.Feature.Navigation.ViewModels.HeaderViewModel

@if (Model != null)
{
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark bg-indigo">
        <div class="navbar-brand wmin-0 mr-5">
            <a href="index.html" class="d-inline-block">
                <img src="../../../../global_assets/images/logo_light.png" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Secondary navbar -->
    <div class="navbar navbar-expand-md navbar-light">
        <div class="text-center d-md-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
                <i class="icon-unfold mr-2"></i>
                Navigation
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-navigation">
            <ul class="navbar-nav navbar-nav-highlight">
                @foreach (var item in @Model.HeaderItems)
                {
                    <li class="nav-item">
                        <a href="@(item.ItemLink != null ?item.ItemLink.Url : "")" class="navbar-nav-link active">
                            <i class="icon-home4 mr-2"></i>
                            @item.LinkName
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /secondary navbar -->
}