
<div id="skippedToContent">

    <section role="main" class="page-home">

        <div class="container text-center what-is-nuget" style="padding-bottom:170px;padding-top:150px">
            <div class="row" style="padding-bottom:20px;">
                <h2> @Html.Sitecore().Field("Title")</h2>
                @Html.Sitecore().Field("Summary")
            </div>
           
            </div>
        </section>


    </div>
